<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Додо Пицца</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<style>
* {
    font-family: 'Nunito', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 15px rgba(94, 94, 94, 0.15);
    padding: 15px;
}
a {
    color: black;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    font-weight: 600;
    margin-left: 20px;
    transition: .3s;
}
a:hover {
    color: #FF6900;
}
.nav {
    display: flex;
    justify-content: space-around;
}
.active_page_color {
    color: #FF6900;
}
.main {
    width: 70%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;   
}
.nameofsect {
    font-weight: 500;
    font-size: 25px;
}
.img {
    width: 200px;
}
.nameofpizza {
    font-weight: 600;
    font-size: 24px;
}
.compofpizza {
    font-size: 14px;
    color: #5C6370;
    width: 240px;
    margin: 0px;
    margin-top: -20px;
}
.priceofpizza {
    margin-left: 0px;
    margin-top: 5px;
}
.npizza {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    margin-top: 80px;
    
}
.pizzes {
    display: flex;
    flex-wrap: wrap;
}
.inp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input {
    outline: none;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #FF6900;
    margin-right: 20px;
    margin-top: 20px;
}
.formbtn {
    background-color: #FF6900;
    color: white; 
}
</style>


</head>
<body>
    <header>
        <div class="nav">
            <a href="/pizza" class="active_page_color">Пицца</a>
            <a href="/combos">Комбо</a>
            <a href="/snacks">Закуски</a>
            <a href="/desserts">Десерты</a>
            <a href="/drinks">Напитки</a>
            <a href="/other">Другие товары</a>
            <a href="/bonus">Акции</a>
            <a href="/contacts">Контакты</a>
            <a href="/about">О нас</a>
            <a href="/job">Работа в Додо</a>
        </div>
        <a href="/lk">Личный кабинет</a>
    </header>

    <div class="main">
        <p class="nameofsect">Заказ</p>

        <form method="post">
            <input type="text" placeholder="Страна" name="order_country"></br>
            <input type="text" placeholder="Город" name="order_town"></br>
            <input type="text" placeholder="Улица" name="order_street"></br>
            <input type="text" placeholder="Дом" name="order_home"></br>
            <input type="text" placeholder="Квартира" name="order_kv"></br>

            <input type="submit" class="formbtn" value="Заказать">
        </form>
    </div>
</body>
</html>